@import url('https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css');

* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a, select {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}

ul {
    padding: 0;
}

img {
    width: 100%;
    display: block;
  }

input {
    outline:none;
}

html,
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: "Graphik";
}

body {
    background-color: #FFFFFF;
    font-size: 16px;
    color: #1B1B1B;
    font-weight: normal;
    font-style: normal;
    font-family: "Graphik";
}

.container {
    position: relative;

    main {
        position: relative;
    }
}

@import "../sass/block/header.scss";
@import "../sass/block/title.scss";
@import "../sass/block/navAndDescription.scss";
@import "../sass/block/grid.scss";
@import "../sass/block/typography.scss";
@import "../sass/block/ui.scss";
@import "../sass/block/drop-down.scss";
@import "../sass/block/button.scss";
@import "../sass/block/checkboxs.scss";
@import "../sass/block/accordion.scss";
@import "../sass/block/footer.scss";
@import "../sass/block/menu.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
