.drop-down {
    .selects {
        display: flex;
        flex-wrap: wrap;
        margin-top: 48px;
    }

    .select-items {
        min-width: 280px;
        margin-right: 32px;
        margin-bottom: 3rem;
    }

    .select-box {
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    .hideScroll {
        overflow-y: hidden !important;
    }

    .showScroll {
        overflow-y: scroll !important;
    }

    .select-box .options-container {
        background: #fff;
        color: #1B1B1B;
        max-height: 0;
        width: 100%;
        opacity: 0;
        transition: all 0.4s;
        overflow: hidden;
        box-shadow: -10px 4px 24px rgb(0 0 0 / 10%);

        order: 1;
    }

    .selected {
        background: #fff;
        color: #1B1B1B;
        position: relative;
        border-bottom: 2px solid #AEADAE;
        order: 0;
    }

    .selected:hover {
        border-bottom: 2px solid #3E29E3;
    }

    .hover {
        border-bottom: 2px solid #3E29E3;
    }

    .selected:focus {
        border-bottom: 2px solid #3E29E3;
    }

    .selected::after {
        content: "";
        background: url('../../img/drop-down/show.svg') no-repeat;
        background-size: cover;
        background-repeat: no-repeat;

        position: absolute;
        height: 100%;
        width: 28px;
        right: -10px;
        top: 12px;

        transition: all 0.4s;
    }

    .select-box .options-container.active {
        max-height: 240px;
        opacity: 1;
    }

    .select-box .options-container.active+.selected::after {
        transform: rotateX(180deg);
        top: -6px;
    }

    .select-box .options-container::-webkit-scrollbar {
        width: 8px;
        background: #fff;
    }

    .select-box .options-container::-webkit-scrollbar-thumb {
        background: #3E29E3;
    }

    .select-box .option,
    .selected {
        padding: 6px;
        cursor: pointer;
    }

    .chooseElem {
        color: #3E29E3;
    }

    .select-box .option:hover {
        background: #3E29E3;
        color: #FFFFFF;
    }

    .open-select .option:hover {
        background: none;
        color: #1B1B1B;
    }

    .select-box label {
        cursor: pointer;
        padding-left: 24px;
    }

    .select-box .option .radio {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .drop-down {
        .subTitle {
            text-align: center;
        }
        .selects {
            justify-content: center;
        }
    }
}