.grid {
    margin-bottom: 5rem;

    .grid__subTitle {
        text-align: left;
        margin-bottom: 3rem;

        h2 {
            margin-bottom: 1.2em;
            font-weight: bold;
        }
    }

    h4 {
        font-size: 1.5em;
        margin-top: 4rem;
    }

    .characteristics {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .list {
        display: flex;
        justify-content: space-between;
        padding: 0;

        li {
            font-size: .8rem;
            color: #7D7D7D;
            margin-bottom: .5rem;
        }

        p {
            font-size: 1.5rem;
            color: #1B1B1B;
        }
    }
}

@media (max-width: 767.98px) {
    .grid {
        text-align: center;

        .grid__subTitle {
            text-align: center;
        }

        .list {
            p {
                font-size: 1.2rem;
            }
        }
    }
}

@media (max-width: 379.98px) {
    .grid {
        .list {
            flex-wrap: wrap;
            justify-content: center;

            li {
                margin-right: 15px;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}