header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    margin-bottom: 3.1rem;
}

.header__logo-name {
    display: flex;
    align-items: center;

    .header__logo {
        width: 2.5rem;
        height: 2.5rem;
    }

    .header__name {
        margin-left: 1.5rem;

        .surname {
            font-size: .8rem;
            font-weight: 600;
            margin-bottom: .2rem;
        }

        .name__patronymic {
            color: #7D7D7D;
            font-size: .8rem;
        }
    }
}

.header__btn-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;

    .top-menu {
        background-color: black;
        width: 2rem;
        height: .1rem;
        margin-bottom: .5rem;
    }

    .bottom-menu {
        background-color: black;
        width: 1.5rem;
        height: .1rem;
    }
}