.container-menu {
  margin-top: -100rem;
  position: absolute;
  transition: .2s;
  width: 100%;
  max-height: 48rem;

  .wrapper-menu {
    display: flex;
    justify-content: space-between;
    background-image: url('../img/menu/bgMenu.png') no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .btnClose {
      margin: 2rem 3.9rem 0 0;
      cursor: pointer;
      max-height: 1.5rem;

      span {
        display: none;
      }
    }

    .menu {
      background-color: #FFFFFF;
      width: 60%;
      margin: 0.5rem;
      padding: 1rem 0 2rem 3rem;

      .header-menu {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 3.75rem;
        align-items: center;

        p {
          margin-left: 3rem;
        }
      }

      .content-menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 12.5rem;

        .title-menu {
          font-weight: bold;
          font-size: 2rem;
          margin-bottom: 1.5rem;
        }

        .description {
          margin-bottom: 2rem;
        }

        .number {
          font-weight: bold;
          font-size: 1.1rem;
        }
      }

      .footer-menu {
        display: flex;
        align-items: center;

        .icon {
          width: 2.5rem;
          margin-right: 1.5rem;
          border-radius: 100%;
          -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
          -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
        }

        a {
          color: #3E29E3;
          font-weight: bolder;
        }
      }
    }
  }
}

.container-menu.show {
  margin-top: 0;
}

@media (max-width: 992.98px) {
  .container-menu {
    .wrapper-menu {
      .menu {
        padding: 15px 0 15px 15px;
        ;
        width: 70%;

        .header-menu {
          margin-bottom: 1.75rem;

          p {
            margin-left: 1.5rem;
          }
        }

        .content-menu {
          margin-bottom: 2.5rem;

          .title-menu {
            font-size: 1.5rem;
          }

          .number {
            font-size: 1rem;
          }
        }
      }

      .btnClose {
        margin-right: .6rem;

        span {
          color: #000;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .container-menu {
    .wrapper-menu {
      .menu {
        padding: 1rem;
        ;
        width: 75%;

        .header-menu {
          margin-bottom: 1.25rem;

          p {
            margin-left: 1.5rem;
          }
        }

        .content-menu {
          margin-bottom: 3.5rem
        }
      }

      .btnClose {
        margin-right: .6rem;
      }
    }
  }
}

@media (max-width: 420.98px) {
  .container-menu {
    .wrapper-menu {
      .menu {
        padding: 1rem;
        width: 100%;

        .header-menu {
          margin-bottom: 1.25rem;
        }

        .content-menu {
          margin-bottom: 1.5rem
        }
      }

      .btnClose {
        position: absolute;
        right: 0;
        margin: 2.3rem 2rem;

        img {
          display: none;
        }

        span {
          display: block;
          color: #000;
        }
      }
    }
  }
}

@media (max-width: 379.98px) {
  .container-menu {
    .wrapper-menu {
      .menu {
        padding: 1rem;

        .header-menu {
          margin-bottom: .3rem;
          justify-content: center;
          margin-right: 2rem;

          p {
            margin-left: 1rem;
          }

        }

        .content-menu {
          margin-bottom: 0;
          text-align: center;
        }

        .footer-menu {
          font-size: 14px;
        }
      }
      .btnClose {
        position: absolute;
        right: 0;
        margin: 2.3rem 1.5rem;
      }
    }
  }
}