.container-menu {
  margin-top: -800px;
  position: absolute;
  background: url('../../img/menu/bgMenu.png') no-repeat;
  padding: 8px;
  transition: .2s;
  width: 100%;
  max-height: 756px;

  .wrapper-menu {
    display: flex;
    justify-content: space-between;

    .btnClose {
      margin-right: 63px;
      cursor: pointer;
      max-height: 24px;
    }

    .menu {
      background-color: #FFFFFF;
      width: 60%;
      padding: 20px 0 30px 50px;

      .header-menu {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 60px;
        align-items: center;

        .subtitle {
          margin-left: 64px;
        }
      }

      .content-menu {
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;

        .title-menu {
          font-weight: bold;
          font-size: 32px;
          margin-bottom: 24px;
        }

        .description {
          margin-bottom: 32px;
        }

        .number {
          font-weight: bold;
          font-size: 18px;
        }
      }

      .footer-menu {
        display: flex;
        align-items: center;
        color: #3E29E3;

        .icon {
          width: 40px;
          margin-right: 24px;
          border-radius: 100%;
          -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
          -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
        }
      }
    }
  }
}

.container-menu.show {
  margin-top: 0;
}

@media (max-width: 767.98px) {
  .container-menu {
    .wrapper-menu {
      .menu {
        padding: 20px 0 20px 20px;;
        width: 70%;

        .header-menu {
          margin-bottom: 20px;
        }

        .content-menu {
          margin-bottom: 60px;
        }
      }

      .btnClose {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 379.98px) {
  .container-menu {
    .wrapper-menu {
      .menu {
        padding: 10px 0 10px 10px;;
        width: 80%;

        .header-menu {
          margin-bottom: 10px;
        }

        .content-menu {
          margin-bottom: 15px;

          .title-menu {
            font-size: 24px;
          }
        }
      }

      .btnClose {
        margin-right: 10px;
      }
    }
  }
}