.menu__description {
    margin-bottom: 3rem;
    .menu {
        ul {
            padding: 0;

            li {
                font-size: .8rem;
                margin-bottom: 1rem;
                padding: 0;

                a {
                    color: #7D7D7D;
                    text-decoration: none;
                }

                a:hover {
                    color: #1B1B1B;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .menu__description {
        display: flex;
        flex-direction: column;
        text-align: center;

        .menu {
            width: 100%;
            margin-bottom: 1rem;
            ul {
                display: flex;
                justify-content: center;

                li{
                    margin-left: 1rem;
                }
            }
        }
    }
}