.title {
    text-align: left;
    height: 6.2em;
    margin-bottom: 4em;
    align-items: baseline;

    h1 {
        font-size: 3em;
        margin-bottom: .2em;
        font-weight: bold;
    }

    p {
        font-size: 1.5em;
    }
}

@media (max-width: 767.98px) {
    .title {
        text-align: center;
    }
}