.typography {
    margin-top: 80px;
    flex-direction: column;
    margin-bottom: 80px;

    .tabs {
        .tabs-nav {
            display: flex;
            border-bottom: 1px solid #CBCBCC;
            margin-bottom: 48px;

            p {
                margin-bottom: 0;
            }

            .tabsBtn {
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                cursor: pointer;
                padding-bottom: 14px;
                border-bottom: none;
            }

            .btnActive {
                border-bottom: 2px solid #3E29E3;
            }

            .tabsBtn:not(:first-child) {
                margin-left: 32px;
            }
        }
    }

    .tab-content {

        .tab-list-item.tabActive {
            display: flex;
        }

        .desktop {
            .H1 {
                li {
                    margin-bottom: 5.2em;
                }

                h1 {
                    font-size: 3em;
                    font-weight: bold;
                }
            }

            .H2 {
                li {
                    margin-bottom: 4.2em;
                }

                h2 {
                    font-size: 2em;
                    font-weight: bold;
                }
            }

            .H3 {
                li {
                    margin-bottom: 3.7em;
                }

                h3 {
                    font-size: 1.5em;
                }
            }

            .H4 {
                li {
                    margin-bottom: 3.7em;
                }

                h4 {
                    font-size: 1.2em;
                }
            }

            .lid {
                li {
                    margin-bottom: 3.7em;
                }

                p {
                    font-size: 1.5em;
                }
            }

            .large {
                li {
                    margin-bottom: 3.5em;
                }

                p {
                    font-size: 1.1em;
                }
            }

            .basic {
                li {
                    margin-bottom: 3.2em;
                }

                p {
                    font-size: 1em;
                }
            }

            .auxiliary {
                p {
                    font-size: 0.8em;
                }
            }
        }

        .mobile {
            .H1 {
                li {
                    margin-bottom: 4.2em;
                }

                h1 {
                    font-size: 2em;
                    font-weight: bold;
                }
            }

            .H2 {
                li {
                    margin-bottom: 4em;
                }

                h2 {
                    font-size: 1.7em;
                    font-weight: bold;
                }
            }

            .H3 {
                li {
                    margin-bottom: 3.5em;
                }

                h3 {
                    font-size: 1.2em;
                }
            }

            .H4 {
                li {
                    margin-bottom: 3.5em;
                }

                h4 {
                    font-size: 1.1em;
                }
            }

            .lid {
                li {
                    margin-bottom: 3.5em;
                }

                p {
                    font-size: 1.2em;
                }
            }

            .large {
                li {
                    margin-bottom: 3.5em;
                }

                p {
                    font-size: 1.1em;
                }
            }

            .basic {
                li {
                    margin-bottom: 3.2em;
                }

                p {
                    font-size: 1em;
                }
            }

            .auxiliary {
                p {
                    font-size: 0.8em;
                }
            }
        }

        .tab-list-item {
            display: none;
            flex-direction: column;
            padding: 0;

            .list-item {
                display: flex;

                li {
                    margin-right: 32px;
                    color: #7D7D7D;
                    font-size: 14px;
                    line-height: 20px;
                }

                h1,
                h2,
                h3,
                h4 {
                    margin-bottom: 48px;
                }

                p {
                    margin-bottom: 48px;
                }
            }
        }
    }
}