.typography {
    margin-top: 5rem;
    flex-direction: column;
    margin-bottom: 5rem;

    .tabs {
        .tabs-nav {
            display: flex;
            border-bottom: 1px solid #CBCBCC;
            margin-bottom: 3rem;

            p {
                margin-bottom: 0;
            }

            .tabsBtn {
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                padding-bottom: .8rem;
                border-bottom: none;
            }

            .btnActive {
                border-bottom: 2px solid #3E29E3;
            }

            .tabsBtn:not(:first-child) {
                margin-left: 2rem;
            }
        }
    }

    .tab-content {

        .tab-list-item.tabActive {
            display: flex;
        }

        .desktop {
            .H1 {
                li {
                    margin-bottom: 5.2rem;
                }

                h1 {
                    font-size: 3rem;
                    font-weight: bold;
                }
            }

            .H2 {
                li {
                    margin-bottom: 4.2rem;
                }

                h2 {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

            .H3 {
                li {
                    margin-bottom: 3.7rem;
                }

                h3 {
                    font-size: 1.5rem;
                }
            }

            .H4 {
                li {
                    margin-bottom: 3.7rem;
                }

                h4 {
                    font-size: 1.2rem;
                }
            }

            .lid {
                li {
                    margin-bottom: 3.7rem;
                }

                p {
                    font-size: 1.5rem;
                }
            }

            .large {
                li {
                    margin-bottom: 3.5rem;
                }

                p {
                    font-size: 1.1rem;
                }
            }

            .basic {
                li {
                    margin-bottom: 3.2rem;
                }

                p {
                    font-size: 1rem;
                }
            }

            .auxiliary {
                p {
                    font-size: 0.8rem;
                }
            }
        }

        .mobile {
            .H1 {
                li {
                    margin-bottom: 4.2rem;
                }

                h1 {
                    font-size: 2rem;
                    font-weight: bold;
                }
            }

            .H2 {
                li {
                    margin-bottom: 4rem;
                }

                h2 {
                    font-size: 1.7rem;
                    font-weight: bold;
                }
            }

            .H3 {
                li {
                    margin-bottom: 3.5rem;
                }

                h3 {
                    font-size: 1.2rem;
                }
            }

            .H4 {
                li {
                    margin-bottom: 3.5rem;
                }

                h4 {
                    font-size: 1.1rem;
                }
            }

            .lid {
                li {
                    margin-bottom: 3.5rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }

            .large {
                li {
                    margin-bottom: 3.5rem;
                }

                p {
                    font-size: 1.1rem;
                }
            }

            .basic {
                li {
                    margin-bottom: 3.2rem;
                }

                p {
                    font-size: 1rem;
                }
            }

            .auxiliary {
                p {
                    font-size: 0.8rem;
                }
            }
        }

        .tab-list-item {
            display: none;
            flex-direction: column;
            padding: 0;

            .list-item {
                display: flex;

                li {
                    margin-right: 2rem;
                    color: #7D7D7D;
                    font-size: .8rem;
                }

                h1,
                h2,
                h3,
                h4 {
                    margin-bottom: 3rem;
                }

                p {
                    margin-bottom: 3rem;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .typography {
        .grid__subTitle {
            text-align: center;
        }

        .tabs-nav {
            justify-content: center;
        }
    }
}